@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";

@font-face {
    font-family: myFont;
    src: url('./assets/fonts/Poppins-Regular.ttf');
}

@font-face {
    font-family: myFont2;
    src: url('./assets/fonts/Poppins-Medium.ttf');
}

body{
    font-family: myFont;
}

.navText {
    font-family: myFont2;
}
.container {
    background-image: url('../../assets/images/background.png'); 
}

